h1{
    margin-top: 1rem;
}

h2 {
    margin: 2rem 0;
}

.email{
    color: blue;
    font-weight: bold;
    display: inline;
}

.fecha{
    color: brown;
    display: inline;
}

.mensaje{
    color: green;
    font-style: italic;
    display: inline;
}

button{
    margin-bottom: 5%;
}

img {
    width: 10%;
    height: 10%;
}
.error {
    background-color: red;
    height: 100%;
    text-align: center;
}