<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs' ); %>
        <title>Error de Registro</title>
</head>

<body>
    <div class="container error">
        <h1>REVISE LOS DATOS DE REGISTRO</h1>
        <button class="btn btn-primary"><a href="/login">Volver</a></button>
    </div>
</body>

</html>