<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs' ); %>
        <title>Error de Logueo</title>
</head>

<body>
    <div class="container error">
        <h1>ERROR DE LOGUEO DEL USUARIO</h1>
        <button class="btn btn-primary"><a href="/login">Volver</a></button>
    </div>
    
</body>

</html>